{% extends "base.html" %}
{% block content %}

    <table class="table">

        <thead>
        <tr>
            <th>环境</th>
            <th>服务器</th>
            <th>部署应用</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td rowspan="3">测试环境</td>
            <td>10.99.70.43</td>
            <td>account,beauty,channel-in<br/>
                console,kabin,query,timer</td>
        </tr>
        <tr>
            <td>10.99.70.44</td>
            <td>access-out,bill,clearing,gateway-in<br/>
                gateway-mock,info,mb,points</td>
        </tr>
        <tr>
            <td>10.99.70.45</td>
            <td>access-pos,activity,cash,channel-out<br/>
                gateway-out,monitor,msg2</td>
        </tr>

        <tr>
            <td rowspan="3">集成环境</td>
            <td>10.99.70.46</td>
            <td>account,beauty,channel-in<br/>
                console,kabin,query,timer</td>
        </tr>
        <tr>
            <td>10.99.70.47</td>
            <td>access-out,bill,clearing,gateway-in<br/>
                gateway-mock,info,mb,points</td>
        </tr>
        <tr>
            <td>10.99.70.48</td>
            <td>access-pos,activity,cash,channel-out<br/>
                gateway-out,monitor,msg2</td>
        </tr>

        <tr>
            <td>test2 url</td>
            <td colspan="2"><a href="https://test2.ejupay.cn/gateway-mock/mock/toMock" target="_blank">https://test2.ejupay.cn/gateway-mock/mock/toMock</a></td>

        </tr>

        <tr>
            <td>inte2 url</td>
            <td colspan="2"><a href="https://inte2.ejupay.cn/gateway-mock/mock/toMock" target="_blank">https://inte2.ejupay.cn/gateway-mock/mock/toMock</td>
        </tr>

        <tr>
            <td>G4 url</td>
            <td colspan="2"><a href="http://10.106.130.42:8137/gateway-mock/mock/toMock" target="_blank">http://10.106.130.42:8137/gateway-mock/mock/toMock</a></td>
        </tr>

        <tr>
            <td>G5 url</td>
            <td colspan="2"><a href="http://10.106.130.10:8137/gateway-mock/mock/toMock" target="_blank">http://10.106.130.10:8137/gateway-mock/mock/toMock</a></td>
        </tr>

        <tr>
            <td>Jenkins</td>
            <td colspan="2"><a href="http://jenkins.eju-inc.com" target="_blank">http://jenkins.eju-inc.com/</a></td>
        </tr>


        <tr>
            <td>JIRA</td>
            <td colspan="2"><a href="http://10.0.60.55:8099/secure/Dashboard.jspa" target="_blank">http://10.0.60.55:8099/secure/Dashboard.jspa/</a></td>
        </tr>

         <tr>
            <td>新JIRA</td>
            <td colspan="2"><a href="http://jira.eju-inc.com/secure/Dashboard.jspa" target="_blank">http://jira.eju-inc.com/secure/Dashboard.jspa/</a></td>
        </tr>

        <tr>
            <td>私有云</td>
            <td colspan="2"><a href="http://www.ejucloud.cn/#!/app/server/bhost" target="_blank">http://www.ejucloud.cn/#!/app/server/bhost/</a></td>
        </tr>


        <tr>
            <td>定时任务管理平台</td>
            <td colspan="2"><a href="https://test2.ejupay.cn/timer-inrpc/trigger.shtml?action=toList" target="_blank">https://test2.ejupay.cn/timer-inrpc/trigger.shtml?action=toList</a></td>
        </tr>

          <tr>
            <td>运营后台地址<br/>
                用户名/密码</td>
            <td colspan="2">
                <a href="https://test2.ejupay.cn/d/login" target="_blank">https://test2.ejupay.cn/d/login</a><br/><a href="https://inte2.ejupay.cn/d/login" target="_blank">https://inte2.ejupay.cn/d/login</a><br/>
                brightzou@mail.sh.cn<br/>Zousheng123
            </td>
        </tr>

        <tr>
            <td>生产环境公钥</td>
            <td colspan="2">
                MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDxAbF5OMdlj/NvI5tiohgj59N1R8MgJKJjddSCizDFJQmXU7L92iXDd+kflZpl8r7/GVswYKQGLhnm8kyrX+/daw+Ur5ianEjuXaMlJFnFZkaJGNWLx+odknLWYWnfUMEfvUy5kS2xNBXiPz9GjwNmgIj2HeeBnrIMsSmgE408mwIDAQAB
            </td>
        </tr>

        <tr>
            <td>生产环境私钥</td>
            <td colspan="2">
                MIICeQIBADANBgkqhkiG9w0BAQEFAASCAmMwggJfAgEAAoGBAPEBsXk4x2WP828jm2KiGCPn03VHwyAkomN11IKLMMUlCZdTsv3aJcN36R+VmmXyvv8ZWzBgpAYuGebyTKtf791rD5SvmJqcSO5doyUkWcVmRokY1YvH6h2SctZhad9QwR+9TLmRLbE0FeI/P0aPA2aAiPYd54GesgyxKaATjTybAgMBAAECgYEAplzL3GjUQ4hNux8yKLDJxydE8YU67Vo8ejmhGwfn/35kk4AkY1UNklOYqcPEU7FwJHmlV8yuDNIP8Tq6r+XGlZNN8fc2BQ8RuCdASpJ21wrDVJdpy/gAs5hylAXkod0Fa5Pf6Yegu2YtKwKaVI/DzNaIIG/Zebnye13KAQuNPOkCQQD9gc09SkHQPcymhKtzcE9hPbWAo656Xo2/WaNaMQyueeA/Qe7gJ0jDxwZMOXWee84Km/8ndNudtXCgS/GdS7L1AkEA82BsCGaqwOE+Zm1dvODIfPRSlIgEnyLXedXCpZHFDItAo7F54VsMB8wn8W4/wBUUeNzfA78hR3djOKsHu4kXTwJBAOagff1yXul6L4KWU/xTgoPuxf7f6k29U6tveyMEWIsqqY4jB5S5aINjvyD9bTnfXBVe0gQtVdbmSC4sqQT25zkCQQC0KgXvdikjndq2snF4+CIStj9HqyVYtM80ZvSv4qgvcAqK4z/pfp/6Sbyr8kSJKlG8Yy1Itb2qDQxLj/iqcILrAkEAqvOfjxgWL4mx3MVvyAKHXTry4Wa1gZV3bZJqtSMnm9JDg3Nv8cn90CcUS2/saLZMefziJ7EVb//0WNqBu+QmWg==
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
