{% extends "base.html" %}
{% block content %}

    <form class="form-inline delete-cert" method="post" action="/frontpage/tools/sendRequest/">

        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="test" checked> 测试环境
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="inte"> 集成环境
            </label>
        </div>

        </br>
        </br>
        商户：
        <select class="form-control">
            {% for partner in partners %}
                <option>{{ partner }}</option>
            {% endfor %}
        </select>

        </br>
        </br>

        接口：
         <select class="form-control">
            <option></option>
        </select>

        </br>
        </br>

        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
                <div class="input-group-addon">会员号：</div>
                <input type="text" name="memberId" class="form-control" id="memberId" placeholder="000000">

            </div>
        </div>
    <button type="submit" class="btn btn-primary">DELETE CERT</button>
</form>
    <script>
    $('.delete-cert').on('submit', function (e) {
        e.preventDefault();
        //询问框
        layer.confirm('删除实名认证？', {
          btn: ['删除','取消'] //按钮
        }, function(){
            $.ajax({
                url: '/frontpage/tools/deleteCert/',
                type: 'post',
                data: {"memberId": $('#memberId').val(),"env": $('[name="optionsRadios"]:checked').val()},
                success: function (res) {
                    if(res['status'] == '000')
                    {
                        layer.msg(res['message'])
                        $('#memberId').val("")
                    }
                    else
                    {
                        layer.msg(res['message'])
                        $('#memberId').val("")
                    }

                },
                error: function (res) {
                    layer.msg(res.msg)
                    $('#memberId').val("")

                }
            })
        });
    })
    </script>

{% endblock %}