{% extends "base.html" %}
{% block content %}

    <form class="form-inline delete-cert" method="post" action="/frontpage/tools/sendRequest/">

        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="test" checked> 测试环境
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="inte"> 集成环境
            </label>
        </div>

        </br>
        </br>

        <div class="radio">
            <label>
                <input type="radio" name="singTypeOptions" id="optionsRadios1" value="RSA" checked> RSA
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="singTypeOptions" id="optionsRadios2" value="MD5"> MD5
            </label>
        </div>

        </br>

{#        </br>#}
{#        商户：#}
{#        <select class="form-control">#}
{#            {% for partner in partners %}#}
{#                <option>{{ partner }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{##}
{#        </br>#}
{#        </br>#}
{##}
{#        接口：#}
{#         <select class="form-control">#}
{#            <option></option>#}
{#        </select>#}
{##}
{#        </br>#}
{#        </br>#}

        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
                <div class="input-group-addon">PARTNER：</div>
                <input type="text" name="partner_id" class="form-control" id="partner_id" >

            </div>
        </div>

        </br>
        </br>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">SERVICE：</div>
                <input type="text" name="interface_code" class="form-control" id="interface_code" >

            </div>
        </div>

        </br>
        </br>

        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
                <div class="input-group-addon">MEMBERID：</div>
                <input type="text" name="member_id" class="form-control" id="member_id" >

            </div>
        </div>



        <button type="submit" class="btn btn-primary">DELETE CERT</button>
    </form>
    </br>
    </br>
    <div class="input-group">
                <div class="input-group-addon">Response：</div>
                <input type="text" name="response" class="form-control" id="response" >

            </div>
    <script>
    $('.delete-cert').on('submit', function (e) {
        e.preventDefault();
        //询问框
        layer.confirm('删除实名认证？', {
          btn: ['删除','取消'] //按钮
        }, function(){
            $.ajax({
                url: '/frontpage/tools/sendRequest/',
                type: 'post',
                data: {"partner_id":$('#partner_id').val(),"member_id": $('#member_id').val(),"env": $('[name="optionsRadios"]:checked').val(),
                "sign_type": $('[name="singTypeOptions"]:checked').val(),"interface_code":$('#interface_code').val()},
                success: function (res) {
                    if(res['status'] == '200')
                    {
                        $('#response').val(res["message"])
                    }
                    else
                    {
                        layer.msg(res['message'])
                    }

                },
                error: function (res) {
                    layer.msg(res.msg)
                    $('#memberId').val("")

                }
            })
        });
    })
    </script>

{% endblock %}