{% extends "base.html" %}
{% block content %}

    <form class="form-inline delete-cert" method="post" action="/frontpage/tools/updateAccount/">

        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="test" checked> 测试环境
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="inte"> 集成环境
            </label>
        </div>

        </br>
        </br>

        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
                <div class="input-group-addon">MEMBER_ID：</div>
                <input type="text" name="memberId" class="form-control" id="memberId" placeholder="000000">
                <div class="input-group-addon">AMOUNT：</div>
                <input type="text" name="amount" class="form-control" id="amount" placeholder="0.00">

            </div>
        </div>
    <button type="submit" class="btn btn-primary">UPDATE ACCOUNT</button>
</form>
    <script>
    $('.delete-cert').on('submit', function (e) {
        e.preventDefault();
        //询问框
        layer.confirm('ARE YOU SURE？', {
          btn: ['YES','NO'] //按钮
        }, function(){
            $.ajax({
                url: '/frontpage/tools/updateAccount/',
                type: 'post',
                data: {"memberId": $('#memberId').val(),"amount": $('amount').val()},
                success: function (res) {
                    if(res == '000')
                    {
                        layer.msg('UPDATE SUCCESS')
                        $('#memberId').val("")
                        $('#amount').val("")
                    }
                    else
                    {
                        layer.msg('UPDATE FAILED')
                        $('#amount').val("")
                        $('#memberId').val("")

                    }

                },
                error: function (res) {
                    layer.msg(res.msg)
                    $('#memberId').val("")
                    $('#amount').val("")

                }
            })
        });
    })
    </script>

{% endblock %}